@media(min-width: width 768px; ch){

}
.grid-container {
display:flex;
align-items: flex-start;
justify-content: space-around;

}

.container-1 div{
border:1px #ccc solid;
padding:10px;
}

.weather { grid-area: weather;
flex:1;
}

.Calculator { grid-area: Calculator;
Flex:1; 
order:3;

}

.Calendar- { grid-area: Calendar-; 
Flex:3;}

.To-do\ list { grid-area: To-do\ list;
Flex:1; }

.Date-and\ time { grid-area: Date-and\ time; 
Flex:1;}